= form_with model: @image_request, class: 'w-full max-w-lg' do |form|
  = form.label :prompt, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
  = form.text_area :prompt, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'
  = form.label :size, class: 'block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'
  = form.text_field :size, class: 'appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white'
  = form.button class: 'px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out'
